html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    min-width: 100%;
}



body {
    min-width: 1024px;
    margin: auto;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(245, 245, 245, 1);
}

.container {
    max-width: 1064px;
    padding: 0 40px;
    margin: 0 auto;
}

:root {
    --color-grey: #B0B0B0;
    --color-black: #333333;
    --color-purple: #9873FF;
}

h1,
p {
    margin: 0;
    padding: 0;
}

.btn-reset {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.list-reset {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Header */

.header {
    background-color: white;
    -webkit-box-shadow: 4px 11px 8px 8px rgba(34, 60, 80, 0.04);
    -moz-box-shadow: 4px 11px 8px 8px rgba(34, 60, 80, 0.04);
    box-shadow: 4px 11px 8px 8px rgba(34, 60, 80, 0.04);

}

.header__wrapp {
    padding: 20px 0;
}

.header__container {
    display: flex;
    gap: 53px;
}

.form-search {
    width: 70%;
    height: 45px;
}

.form-search__input {
    width: 100%;
    height: 100%;
    padding-left: 16px;
    border: none;
    border: 1px solid var(--color-grey);
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: 0;
}

.form-search__input::placeholder {
    color: var(--color-grey);
}

/* Main */

.main {
    padding-top: 40px;
}

.main-title {
    margin-bottom: 26px;
}

table {
    width: 100%;
    margin-bottom: 40px;
    -webkit-border-horizontal-spacing: 0;
}

tbody {
    background-color: white;
}

th {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: var(--color-grey);
}

tr {
    border-bottom: 1px solid var(--color-grey);
}

#id::after,
#FIO::after,
#createdAt::after,
#updatedAt::after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background: transparent url('../img/arrow-up.svg') no-repeat;
}

#id {
    color: var(--color-purple);
    cursor: pointer;
}

#number-of-id {
    color: var(--color-grey);
}

#FIO,
#createdAt,
#updatedAt {
    cursor: pointer;
}


#id.arrow-down::after,
#FIO.arrow-down::after,
#createdAt.arrow-down::after,
#updatedAt.arrow-down::after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url('../img/arrow_down.svg');
    background-repeat: no-repeat;
}

.actions::before {
    content: '';
    display: inline-block;
    vertical-align: bottom;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background: transparent url('../img/edit.svg') no-repeat;
    transition: background-image .1s ease-in-out;
}

.actions {
    cursor: pointer;
    transition: color .3s ease-in-out;
}

.actions:hover {
    color: var(--color-purple);
}

.actions:active {
    color: var(--color-purple);
}

.actions:active::before {
    background-image: url('../img/load-blue.svg');
    background-repeat: no-repeat;
}

#delete {
    transition: color .3s ease-in-out;
    cursor: pointer;
}

#delete::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    background: transparent url('../img/delete.svg') no-repeat;
    transition: background-image .1s ease-in-out;
}

#delete:hover {
    color: #F06A4D;
}

#delete:active::before {
    background-image: url('../img/load-red.svg');
    background-repeat: no-repeat;
}

td {
    position: relative;
    text-align: center;
    padding: 20px 0;
}

.clients-btn {
    display: flex;
    gap: 10px;
    margin: 0 auto;
    padding: 12px 26px;
    font-weight: 600;
    font-size: 14px;
    color: var(--color-purple);
    border: 1px solid var(--color-purple);
    cursor: pointer;
}

.clients-btn::before {
    content: '';
    display: block;
    width: 22px;
    height: 16px;
    background: transparent url('../img/client-button.svg') no-repeat;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin-right: 7px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    font-size: 10px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Modal */

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
}

.modal-active {
    opacity: 1;
    visibility: visible;
    overflow: auto;
}

.modal__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.modal__wrapp {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    transition: .3s all ease-in-out;
}

.modal__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    background-color: white;
    color: var(--color-black);
    width: 600px;
    padding: 30px;
}

.modal__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.modal__title {
    margin-bottom: 32px;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
}

.modal__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--color-grey);
    font-size: 20px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 32px;
}

.modal-form__input.just-validate-error-field {
    border-color: red !important;
}

.label {
    width: 100%;
}

.modal-form__input {
    width: 100%;
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px solid var(--color-grey);
}

.modal-form__input:focus {
    outline: none;
}

#modal_btn_newContact {
    position: relative;
    width: 100%;
    padding: 8px;
    background-color: #c8c5d17a;
    z-index: 2;
}

.modal-form__btn_purple {
    align-self: center;
    padding: 14px 35px;
    background-color: var(--color-purple);
    color: white;
}

[disabled] {
    display: none;
}

.modal-form__btn_underline {
    align-self: center;
    text-decoration: underline;
}


.modal__question {
    width: 34%;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.contacts-icon {
    width: 16px;
    height: 16px;
    min-width: 0;
    cursor: pointer;
}

.circle-icon {
    display: block;
    margin: auto;
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-purple);
    border-radius: 50px;
    font-size: 11px;
}

/* Accordion */

.accordion {
    width: 100%;
}

.accordion__header {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(100%);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, background-color .3s ease-in-out;
}

.accordion__header_active {
    opacity: 1;
    transform: translateY(0);
    background-color: #c8c5d17a;
}

.contacts-wrapp {
    display: flex;
    position: relative;
}

.contacts-wrapp {
    margin-bottom: 15px;
}

.accordion__input {
    position: relative;
    width: 100%;
    padding: 0 12px;
    background-color: #f4f3f4;
    border: 1px solid #C8C5D1;
    outline: none;
    border-left: none;
}

.accordion__input::placeholder {
    color: #C8C5D1;
}

.delete-inp {
    position: absolute;
    right: 0;
    width: 27px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e557;
    border: 1px solid #cccacf;
    cursor: pointer;
    transition: border-color .3s ease-in-out;
}

.delete-inp:hover,
.delete-inp:hover .delete-inp__circle {
    border-color: red;
}

.delete-inp:hover .delete-inp__line {
    background-color: red;
}

.delete-inp__circle {
    display: flex;
    position: relative;
    gap: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    border: 1px solid #b0b0b057;
    background-color: #e5e5e557;
    transition: border-color .3s ease-in-out;
}

.delete-inp__line {
    position: absolute;
    top: 50%;
    width: 10px;
    height: 1px;
    background-color: #b0b0b057;
    transition: background-color .3s ease-in-out;
}

.delete-inp__line:nth-child(1) {
    transform: rotate(45deg);
}

.delete-inp__line:nth-child(2) {
    transform: rotate(-45deg);
}

/* Choices */

.choices {
    width: 25%;
    margin: 0;
}

.choices__inner {
    background-color: transparent;
    border-color: #C8C5D1;
}

.choices__placeholder {
    opacity: 1;
}

.choices[data-type*=select-one]::after {
    border: solid var(--color-purple);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    transition: transform .3s ease-in-out, border-color .3s ease-in-out;
}

.choices[data-type*=select-one].is-open::after {
    border: solid #999999;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    margin-top: 1px;
    border-color: var(--color-purple);
    transform: rotate(-135deg);
}

.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 0;
}